@import './fonts.css';
@import './colors.css';

.button {
    width: 100%;
    margin-left: 10px;
    font-family: muliRegular;
    font-size: 1.8vw;
    background-color: var(--buttonColor, red);
    box-shadow: 2px 5px var(--buttonHover, #138D75);
    color: var(--textColor, red);
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    box-shadow: 1px 1px 4px black
}

.button:hover {
    background-color: var(--buttonHover, red);
    cursor: pointer;
}
