:root{
    --background1: #EAEDED; /*Background scale light to dark*/
    --background2: #EAEDED;
    --background3: #D5DBDB;
    --background4: #BFC9CA;
    --background5: #AAB7B8;
    --background6: #95A5A6;

    --textColor: #212F3C; /*Text color*/
    --textHover: #F1948A; /*Hover text color*/

    --buttonColor: #FADBD8; /*Button color*/
    --buttonHover:#F1948A; /*Hover button color*/

    --linkColor:#F1948A; /*Link color*/
}

/* Reference by:
in yourclass.JS: import '../css/color.css'
in yourclass.CSS: background-color: var(--background, #138D75); where second argument is fallback value and optional
1 is the lightest -> 10 is the darkest
 */
