:root{
    --green1: #E8F8F5;
    --green2: #D1F2EB;
    --green3: #A3E4D7;
    --green4: #76D7C4;
    --green5: #48C9B0;
    --green6: #1ABC9C;
    --green7: #17A589;
    --green8: #148F77;
    --green9: #117864;
    --green10: #0E6251;
}

/* Reference by:
in yourclass.JS: import '../css/colors.css'
in yourclass.CSS: background-color: var(--green1, #138D75); where second argument is fallback value and optional
1 is the lightest -> 10 is the darkest
 */
