@import './fonts.css';
@import './colors.css';

.SmallInfoTech {
 margin-top: 50px;
 margin-left: 50px;
 width: 90%;
 height: 250px;
 background-color: var(--background1, red);
 position: relative;
 max-height: 250px;
 display: flex;
}

.SmallInfoTechTitle {
  color: var(--textColor, red);
  text-align: left;
  font-family: muliSemibold;
  margin-left: 2%;
  margin-bottom: 0px;
  width: 85%;
}

.SmallInfoTechTitle h2:hover {
  color: var(--textHover, red);
  text-decoration: underline var(--textHover, red);
  cursor: pointer;
}

.SmallInfoTechText {
  margin-top: 0px;
  color: var(--textColor, red);
  text-align: left;
  font-family: muliSemibold;
  overflow: hidden;
  height: 50%;
  padding-bottom: 10px;
  max-height: 150px;
}

.ReadMoreButton {
  background-color: var(--buttonColor, red);
  border-radius: 12px;
  padding: 4px 8px;
  border:none;
  box-shadow: 2px 5px var(--buttonHover, #138D75);
  text-transform: uppercase;
  color: var(--textColor, red);
  text-align: center;
  margin-top: 10px;
}

.ReadMoreButton:hover {
  background-color: var(--buttonHover, red);
  text-decoration: underline var(--buttonHover, red);
}

.seperator{
  border: 0.5px solid var(--textColor, red);;
  width: 100%;
  margin: 10px;
  margin-top: 10px;
}

.test {
  width: 200px;
  height: 200px;
  align-self: center;
  justify-self: center;
}
