@import './fonts.css';
@import './colors.css';

.SmallInfoTech {
 margin-top: 10px;
 margin-left: 10px;
 width: 90%;
 height: 250px;
 background-color: var(--green1, red);
 position: relative;
}

.SmallInfoTechTitle {
  color: #4a4d4c;
  text-align: left;
  font-family: muliSemibold;
  margin-left: 2%;
  margin-bottom: 0px;
  width: 85%;
}

.SmallInfoTechTitle h2:hover {
  color: var(--green5, red);
  text-decoration: underline var(--green5, red);
  cursor: pointer;
}

.SmallInfoTechText {
  margin-top: 0px;
  color: #4a4d4c;
  text-align: left;
  font-family: muliSemibold;
  overflow: hidden;
  height: 50%;
  padding-bottom: 10px;
}

.ReadMoreButton {
  background-color: var(--green9, red);
  border-radius: 12px;
  padding: 4px 8px;
  border:none;
  text-transform: uppercase;
  color: white;
  text-align: center;
}

.ReadMoreButton:hover {
    background-color: var(--green10, red);
    text-decoration: underline white;
}

.seperator{
  border: 0.5px solid #4a4d4c;
  width: 90%;
  position: absolute;
  top: 95%;
}
