@import "./fonts.css";

.title {
   font-family: muliRegular;
   font-size: 2vw;
   color: #4A4A4A;
}

.bodyText {
    text-align: justify;
    font-family: muliRegular;
}

.imgContainer {
    float: right;
    margin-left: 15px;
}

.container {
    margin-top: 10px;
    width: 100%;
}

.seperator {
    border-top: 3px solid rgba(65, 61, 61, 0.3);
    border-radius: 100px;
}
