.entireSearch{
    width: 100%;
    display: flex;
    justify-content: center;
}

.col-sm{
    margin-left: 5px;
    margin-right: 5px;
    padding-right: 0px;
    padding-left: 0px;
}

.dropdown{
    width: 1000px;
    align-content: center;
}

.searchButton{
    background-color: var(--buttonColor, red);
    border-radius: 12px;
    font-size: 20px;
    padding: 4px 8px;
    border:none;
    box-shadow: 2px 5px var(--buttonHover, #138D75);
    text-transform: uppercase;
    color: var(--textColor, red);
    text-align: center;
    margin-top: 10px;
}

.searchButton:hover {
    background-color: var(--buttonHover, red);
    text-decoration: underline var(--buttonHover, red);
}

.search{
    margin: 5px;
    align-content: center;
}

.searchBar {
    align-self: center;
}
