.entireSearch{
    width: 100%;
    display: flex;
    justify-content: center;
}

.col-sm{
    margin-left: 5px;
    margin-right: 5px;
    padding-right: 0px;
    padding-left: 0px;
}

.dropdown{
    width: 600px;
    align-content: center;
}

.searchButton{
    margin: 5px;
    background-color: #138D75;
    border-radius: 5px;
    color: white;
    font-size: 20px;
}

.searchButton:hover {
    background-color: #0B5345;
}

.search{
    margin: 5px;
    align-content: center;
}
