@import './fonts.css';
@import './colors.css';

.boxContainer {
  max-height: 150px;
  width: 100%;
  min-width: 500px;
  margin-top: 30px;
  transition: all .2s ease-in-out;
}

.smallInfoBox {
  margin-left: 10px;
  background-color: var(--background3, red);
  border-radius: 10px;
  height: 100%;
  box-shadow: 1px 1px 10px black;
  min-width: 100%;
  width: 100%;
  overflow-y: none;
  overflow-x: hidden;
}

.readMore {
  text-align: center;
  text-decoration: underline;
  font-size: 20px;
  color: white;
}

.readMore:hover {
  cursor: pointer;
  text-decoration: underline var(--textHover, red);
  color: var(--textHover, red);
}

.headerDivider {
  border-right: 3px solid rgba(245, 183, 177, 0.5);
}

.smallInfoBoxTitle {
  color: var(--textColor, red);
  text-align: left;
  text-decoration: underline var(--textColor, red);
  font-family: muliSemibold;
  width: 100%;
}

.smallInfoBoxTitle h2:hover {
  color: var(--textHover, red);
  text-decoration: underline var(--textHover, red);
  cursor: pointer;
}

.smallInfoBoxText {
  color: var(--textColor, red);
  text-align: left;
  font-family: muliSemibold;
  width: 100%;
  height: 100%;
}

.plusContainer {
  margin-top: 15px;
  width: 60%;
  height: 60%;
  transition: all .2s ease-in-out;
}

.plusContainer.rotate {
  transform: rotate(45deg);
}

.plusContainer:hover {
  transform: scale(1.05, 1.05);
  animation-duration: 1s;
  cursor: pointer;
}

.textGroup {
  width: 67%;
  max-height: 150px;
  overflow: hidden;
}
