.bodyText {
    padding-left: 30px;
    padding-right: 15px;
    font-size: 1.5em;
}
/*hm nej*/
div.CircleImage {
    margin-top: 30px;
}
/*såhär!! sätt idn!!*/
#imgrightcircle {
    padding: 10px;
}

.imgright{
    padding: 100px;
}
