.startbutton {
    background-color: var(--green8, #138D75);
    border-radius: 20px;
    font-size: 30px;
    padding: 30px 40px;
    margin: 30px 70px;
    border:none;
    text-transform: uppercase;
    color: white;
}
.startbutton:hover {
    background-color: var(--green10, #138D75);
}

.buttonsdiv{
    padding: 50px;
}

