.startbutton {
    background-color: var(--buttonColor, #138D75);
    border-radius: 20px;
    font-size: 20px;
    padding: 20px 30px;
    margin: 10px 50px;
    border:none;
    box-shadow: 2px 5px var(--buttonHover, #138D75);
    text-transform: uppercase;
    color: var(--textColor, red);
}
.startbutton:hover {
    background-color: var(--buttonHover, #138D75);
}

.buttonsdiv{
    padding-top: 20px;
}
